body {
  font-family: 'Didact Gothic', sans;
  font-size: 18px;
  color: #222222;
  background: #fafafa;
}

ul {
  list-style-type: none;
}

mark.keyword{
  background: #eeffee;
  color: #000000;
}

a {
  color: #222222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span.source {
  display: inline;
  margin-right: 10px;
  font-size: 15px;
  font-variant: all-small-caps;
}
